In [1]:
def read_csv(folder, filename):
    import pandas as pd

    filepath = f'{folder}/{filename}.csv'
    df = pd.read_csv(filepath)

    return df
def convert_state_code(df):

    state_param = read_csv('epidemic/linelist','param_geo')
    state_param = state_param[159:][['state','idxs']].set_index('idxs')
    state_param.state = state_param.state.str.upper()
    state_param.index = state_param.index.astype('str')

    df2 = df.assign(state=df.state.str.split(","))[['state','cluster']].explode('state')
    df2.state = df2.state.map(state_param['state']).fillna('not stated')
    df2 = df2.groupby('cluster').agg({'state': lambda x: ",".join(x)})
    df2.rename(columns={'state':'state_join'},inplace=True)

    df.set_index('cluster',inplace=True)
    df3 = df.join(df2,how = 'inner')
    df3 = df3.reset_index()[['cluster','state_join','district','date_announced','date_last_onset','category','status','cases_new','cases_total','cases_active','tests','icu','deaths','recovered','summary_bm','summary_en']]
    df3.rename(columns={'state_join':'state'},inplace=True)

    return df3

In [2]:

#statistical analysis of data
#State with the highest number of cases
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

covid_data= pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/1caf9a2289ce63da4e71339dda656be9360fa9e3/epidemic/cases_state.csv')
my_data = covid_data[covid_data['state']=='MY'].drop(['state','cases_cluster'], axis=1)
my_data = my_data[my_data.sum(axis = 1) > 0]
my_data = my_data.groupby(['state'])['cases_active'].sum().reset_index()
my_data_death = my_data[my_data['cases_active'] > 0]
state_fig = sns.displot(my_data_death, x='state', y='cases_active', title='State wise cases reported of COVID-19 in MY', text='cases_active')
state_fig.show()

KeyError: 'state'

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
covid_data= pd.read_csv('https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/1caf9a2289ce63da4e71339dda656be9360fa9e3/epidemic/cases_state.csv')

In [4]:
covid_data

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_unvax,cases_pvax,cases_fvax,...,cases_0_4,cases_5_11,cases_12_17,cases_18_29,cases_30_39,cases_40_49,cases_50_59,cases_60_69,cases_70_79,cases_80
0,2020-01-25,Johor,4,4,0,4,0,4,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2020-01-25,Kedah,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-25,Kelantan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,Melaka,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16779,2022-12-08,Selangor,474,0,586,4326,0,40,1,73,...,15,17,20,138,121,80,43,11,16,13
16780,2022-12-08,Terengganu,42,0,69,428,0,5,1,14,...,1,1,2,12,13,6,2,2,2,1
16781,2022-12-08,W.P. Kuala Lumpur,154,0,252,1504,0,18,2,22,...,2,5,3,50,39,21,15,7,7,5
16782,2022-12-08,W.P. Labuan,19,0,16,127,0,4,0,6,...,1,1,0,7,5,2,1,1,0,1
16783,2022-12-08,W.P. Putrajaya,75,0,75,550,0,5,1,19,...,4,1,5,13,30,16,3,0,2,1

In [5]:
my_data = covid_data[covid_data['state']=='MY'].drop(['state','cases_cluster'], axis=1)

In [6]:
my_data

Empty DataFrame
Columns: [date, cases_new, cases_import, cases_recovered, cases_active, cases_unvax, cases_pvax, cases_fvax, cases_boost, cases_child, cases_adolescent, cases_adult, cases_elderly, cases_0_4, cases_5_11, cases_12_17, cases_18_29, cases_30_39, cases_40_49, cases_50_59, cases_60_69, cases_70_79, cases_80]
Index: []

[0 rows x 23 columns]