# Descriptive Analysis and Statistics of the whole Cluster dataset:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import get_data
import os 
os.getcwd()

'C:\\Users\\narma\\Desktop\\302C GitHub\\covid19-public'

In [2]:
# To read the original Covid dataset from the GitHub
dataset = get_data.read_csv('epidemic','clusters') 
df_1 = get_data.convert_state_code(dataset) #------States column converted from integer to string
df_1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
0,KLUSTER WARGA JEPUN,W.P. KUALA LUMPUR,LEMBAH PANTAI,2020-03-01,2020-03-09,import,ended,0,3,0,267,0,0,3,NaN,NaN
1,KLUSTER UDA,"JOHOR,NEGERI SEMBILAN,SELANGOR,W.P. KUALA LUMP...",PELBAGAI,2020-03-04,2020-03-01,import,ended,0,144,0,1864,0,2,142,NaN,NaN
2,KLUSTER KEAGAMAAN (TABLIGH SRI PETALING),not stated,PELBAGAI,2020-03-13,2020-03-11,religious,ended,0,2022,0,42023,0,34,1988,NaN,NaN
3,KLUSTER TABLIGH NEW DELHI,"NEGERI SEMBILAN,SELANGOR,W.P. KUALA LUMPUR,W.P...",PELBAGAI,2020-03-16,2020-03-20,import,ended,0,24,0,57,0,0,24,NaN,NaN
4,KLUSTER AIROD,PAHANG,KUANTAN,2020-03-31,2020-03-31,workplace,ended,0,65,0,734,0,0,65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7151,KLUSTER DUA JALAN PADANG GOLF 3,SELANGOR,HULU SELANGOR,2022-11-26,2022-11-25,highRisk,active,0,25,25,35,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This is a third recurring cluster involving re...
7152,KLUSTER JALAN PADANG GOLF 5,SELANGOR,HULU SELANGOR,2022-11-27,2022-11-26,highRisk,active,0,3,3,13,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the fifth repeated cluster inv...
7153,KLUSTER DAH BATU 19,KEDAH,KUBANG PASU,2022-11-27,2022-12-04,education,active,12,84,84,214,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves students from an educati...
7154,KLUSTER DAH TERABAK,KEDAH,KUBANG PASU,2022-12-01,2022-12-04,education,active,2,89,89,702,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...
7155,KLUSTER JALAN KAKI BUKIT,PERLIS,KANGAR,2022-12-02,2022-12-03,education,active,0,12,12,12,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...

In [3]:
#To view the 8 statistical properties of each attribute
df_1.describe()

,cases_new,cases_total,cases_active,tests,icu,deaths,recovered
count,7156.000000,7156.000000,7156.000000,7156.000000,7156.000000,7156.000000,7156.000000
mean,0.001956,78.429290,0.355226,318.667552,0.001677,0.272359,77.770542
std,0.143809,199.387438,5.303520,1086.949175,0.040919,1.288240,199.073056
min,0.000000,2.000000,0.000000,3.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,0.000000,51.000000,0.000000,0.000000,18.000000
50%,0.000000,35.000000,0.000000,117.000000,0.000000,0.000000,35.000000
75%,0.000000,73.000000,0.000000,282.250000,0.000000,0.000000,73.000000
max,12.000000,7205.000000,197.000000,42100.000000,1.000000,37.000000,7204.000000

To view the class distribution for the 'status' column and 'category' column

In [4]:
df_1.groupby('status').size()

status
active      57
ended     7099
dtype: int64

In [5]:
df_active = (df_1.loc[df_1['status'] == 'active']) #------To view the active clusters in the dataser
df_active

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
7088,KLUSTER JALAN REJANG,W.P. KUALA LUMPUR,TITIWANGSA,2022-10-27,2022-11-07,education,active,0,44,44,59,0,0,0,Kluster ini melibatkan pelajar-pelajar asrama ...,This cluster involves students from an educati...
7092,KLUSTER MAYANG PASIR 2,PULAU PINANG,"BARAT DAYA, TIMUR LAUT, SEBERANG PERAI UTARA",2022-10-31,2022-11-22,workplace,active,0,110,110,1385,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This cluster is the second recurring cluster i...
7098,KLUSTER CHANGKAT BERANGAN,PERAK,"HULU PERAK, KUALA KANGSAR",2022-11-03,2022-11-10,education,active,0,144,144,154,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...
7100,KLUSTER KM132 AYER PAâ€™ABAS 2,MELAKA,"ALOR GAJAH, MELAKA TENGAH",2022-11-04,2022-11-16,education,active,0,204,197,300,0,0,7,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves students from an educati...
7101,KLUSTER JALAN SEREMBAN TIGA 2,NEGERI SEMBILAN,SEREMBAN,2022-11-04,2022-11-16,education,active,0,84,84,276,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster id...
7102,KLUSTER JALAN KAMPUNG PILIN,NEGERI SEMBILAN,REMBAU,2022-11-04,2022-11-17,education,active,0,108,108,166,0,0,0,Kluster ini merupakan saringan bergejala yang ...,This cluster is identified as a result of symp...
7105,KLUSTER JALAN SHAH BANTING 3,SELANGOR,KUALA LANGAT,2022-11-06,2022-11-23,education,active,0,125,125,125,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the third repeated cluster of ...
7106,KLUSTER INDUSTRI RAWANG BESTARI 3,SELANGOR,"GOMBAK, HULU SELANGOR",2022-11-08,2022-11-07,workplace,active,0,10,10,10,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the third recurring cluster in...
7107,KLUSTER JALAN BUKIT IDAMAN,SELANGOR,"GOMBAK, HULU SELANGOR",2022-11-08,2022-11-07,workplace,active,0,6,6,6,0,0,0,Kluster ini melibatkan kakitangan-kakitangan s...,This cluster involves the staffs of a public a...
7108,KLUSTER JALAN SAYUR,W.P. KUALA LUMPUR,CHERAS,2022-11-08,2022-11-07,education,active,0,7,7,7,0,0,0,Kluster ini melibatkan pelajar-pelajar dan kak...,This cluster involves students and staff from ...
7109,KLUSTER JALAN MASJID NEGERI 2,PULAU PINANG,TIMUR LAUT,2022-11-08,2022-11-10,highRisk,active,0,48,48,174,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second recurring cluster i...
7110,KLUSTER JALAN TAMAN TASIK,PERAK,"LARUT, MATANG & SELAMA",2022-11-08,2022-11-13,education,active,0,19,19,30,0,0,0,Kluster ini dikenalpasti hasil saringan bergej...,This cluster is a symptomatic screening result...
7111,KLUSTER TAMAN KEMUMIN,KELANTAN,KOTA BHARU,2022-11-08,2022-11-14,highRisk,active,0,41,41,105,0,0,0,Kluster ini melibatkan penghuni-penghuni dan k...,This cluster involves residents and staffs of ...
7112,KLUSTER DUA JALAN YAACOB LATIF 2,W.P. KUALA LUMPUR,"CHERAS, TITIWANGSA",2022-11-08,2022-11-16,education,active,0,52,52,54,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This cluster involves students from an educati...
7113,KLUSTER JALAN EMPANG BATU,MELAKA,ALOR GAJAH,2022-11-08,2022-11-16,education,active,0,82,81,104,0,0,1,Kuster ini dikenalpasti hasil saringan bergeja...,This cluster is a symptomatic screening result...
7114,KLUSTER BATU SATU SABAK 2,SELANGOR,SABAK BERNAM,2022-11-09,2022-11-08,education,active,0,33,33,63,0,0,0,Kuster ini merupakan kluster berulang kali ked...,This cluster is the second recurring cluster r...
7115,KLUSTER JALAN SELADANG PASAR 3,W.P. KUALA LUMPUR,CHERAS,2022-11-09,2022-11-08,education,active,0,41,41,111,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the third recurring cluster in...
7116,KLUSTER PERSIARAN GOLF,SELANGOR,PETALING,2022-11-09,2022-11-08,education,active,0,16,16,26,0,0,0,Kluster ini melibatkan kakitangan dan pelajar-...,This cluster involves the staff and students o...
7117,KLUSTER DUA JALAN KASTURI SATU,SELANGOR,HULU SELANGOR,2022-11-09,2022-11-08,education,active,0,5,5,19,0,0,0,Kluster ini melibatkan kakitangan dan pelajar-...,This cluster involves the staff and students o...
7118,KLUSTER TANJUNG LABUH 2,JOHOR,BATU PAHAT,2022-11-09,2022-11-09,education,active,0,15,15,179,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster in...
7119,KLUSTER SERI BOTA 2,PERAK,PERAK TENGAH,2022-11-09,2022-11-14,education,active,0,29,29,50,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This is the third recurring cluster involving ...
7120,KLUSTER JALAN DATO HARUN 2,MELAKA,ALOR GAJAH,2022-11-09,2022-11-16,education,active,0,52,52,69,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second recurring cluster i...
7121,KLUSTER DAH JALAN SERDANG,KEDAH,BANDAR BAHARU,2022-11-10,2022-11-09,detentionCentre,active,0,43,43,75,0,0,0,Kluster ini melibatkan tahanan-tahanan dan kak...,This cluster involves prisoners and staffs of ...
7122,KLUSTER JALAN SULTAN AHMADDIN SHAH 2,PERAK,PERAK TENGAH,2022-11-10,2022-11-09,education,active,0,19,19,19,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster in...
7123,KLUSTER JALAN LEONG YEW KOH,W.P. KUALA LUMPUR,KEPONG,2022-11-10,2022-11-09,education,active,0,8,8,8,0,0,0,Kluster ini melibatkan pelajar-pelajar dan kak...,This cluster involves the staff and students o...
7124,KLUSTER JALAN SRI HARTAMAS DUA,W.P. KUALA LUMPUR,KEPONG,2022-11-10,2022-11-09,education,active,0,10,10,66,0,0,0,Kluster ini melibatkan pelajar-pelajar dan kak...,This cluster involves the staff and students o...
7125,KLUSTER DESA DARUL NAIM,KELANTAN,KOTA BHARU,2022-11-10,2022-11-09,education,active,0,32,32,115,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...
7126,KLUSTER JALAN SRI PERMAISURI,W.P. KUALA LUMPUR,CHERAS,2022-11-10,2022-11-13,education,active,0,35,35,64,0,0,0,Kluster ini melibatkan pelajar-pelajar dan ka...,This cluster involves the staff and students o...
7127,KLUSTER JALAN LABU 2,NEGERI SEMBILAN,SEREMBAN,2022-11-10,2022-11-17,education,active,0,112,112,127,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster r...
7128,KLUSTER JALAN SIKAMAT 2,NEGERI SEMBILAN,SEREMBAN,2022-11-10,2022-11-23,education,active,0,32,32,62,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster in...
7129,KLUSTER INDUSTRI KENANGA LAPAN 2,SELANGOR,HULU SELANGOR,2022-11-11,2022-11-10,workplace,active,0,14,14,14,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster in...
7130,KLUSTER JALAN KOLAM 2,W.P. KUALA LUMPUR,"CHERAS, KEPONG",2022-11-11,2022-11-10,education,active,0,33,33,33,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This cluster is the second repeated cluster in...
7131,KLUSTER PERSIARAN DATO SHAMSUDDIN 4,W.P. KUALA LUMPUR,"KEPONG, TITIWANGSA",2022-11-11,2022-11-10,education,active,0,73,73,73,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This fourth recurrent cluster involves the stu...
7132,KLUSTER INDUSTRI LORONG KELULI SATU,SELANGOR,KLANG,2022-11-12,2022-11-11,workplace,active,0,13,13,94,0,0,0,Kluster ini dikenalpasti hasil saringan bersas...,This cluster involves staffs of a logistic com...
7133,KLUSTER TIGA JALAN KOTA RAJA 2,SELANGOR,KLANG,2022-11-12,2022-11-11,education,active,0,48,48,48,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This cluster is the second repeated cluster r...
7134,KLUSTER LORONG KAPAL 3,PULAU PINANG,SEBERANG PERAI UTARA,2022-11-13,2022-11-12,highRisk,active,0,23,22,28,0,1,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the third recurring cluster in...
7135,KLUSTER JALAN INTAN TIGA KAMPAR 2,PERAK,KAMPAR,2022-11-13,2022-11-25,highRisk,active,0,13,13,66,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second recurring cluster i...
7136,KLUSTER TIANG DUA BUKIT LINTANG 2,MELAKA,MELAKA TENGAH,2022-11-14,2022-11-13,detentionCentre,active,0,34,34,35,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster in...
7137,KLUSTER JALAN PENDIDIKAN MALAWATI 3,SELANGOR,KUALA SELANGOR,2022-11-14,2022-11-16,education,active,0,76,76,138,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the third repeated cluster inv...
7138,KLUSTER JALAN TUN RAZAK KUALA KANGSAR 2,PERAK,KUALA KANGSAR,2022-11-14,2022-11-20,education,active,0,53,53,53,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster in...
7139,KLUSTER LORONG BATU LANCHANG 2,PULAU PINANG,TIMUR LAUT,2022-11-15,2022-11-16,highRisk,active,0,12,12,93,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second recurring cluster i...
7140,KLUSTER EMPAT JALAN YAACOB LATIF 3,W.P. KUALA LUMPUR,CHERAS,2022-11-15,2022-11-16,education,active,0,23,23,41,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the third recurring cluster in...
7141,KLUSTER JALAN BEMBAN SERKAM,MELAKA,JASIN,2022-11-15,2022-11-16,education,active,0,48,48,75,0,0,0,Kluster ini melibatkan pelajar-pelajar dan kak...,This cluster involves students and staff at an...
7142,KLUSTER JALAN TUANKU SYED SIRAJUDDIN,PERLIS,KANGAR,2022-11-16,2022-11-15,education,active,0,14,14,18,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...
7143,KLUSTER DAH BATU 22,KEDAH,YAN,2022-11-16,2022-11-17,education,active,0,85,85,193,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves students from an educati...
7144,KLUSTER JALAN DAHLIA EMPAT 2,SELANGOR,SEPANG,2022-11-17,2022-11-16,education,active,0,20,20,20,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second repeated cluster in...
7145,KLUSTER JALAN RAJA MUDA 2,W.P. KUALA LUMPUR,TITIWANGSA,2022-11-17,2022-11-16,workplace,active,0,6,6,73,0,0,0,Kluster ini melibatkan kakitangan sebuah pusat...,This cluster involves the staff of a public ad...
7146,KLUSTER DUA JALAN DATO AHMAD YUNUS,PERAK,MANJUNG,2022-11-19,2022-11-23,highRisk,active,0,9,9,9,0,0,0,Kluster ini melibatkan kakitangan sebuah pusat...,This cluster involves the staff of a health ce...
7147,KLUSTER DUA JALAN PERAK GEORGETOWN,PULAU PINANG,TIMUR LAUT,2022-11-20,2022-11-19,highRisk,active,0,17,17,29,0,0,0,Kluster ini melibatkan penghuni-penghuni dan k...,This cluster involves residents and staff at a...
7148,KLUSTER JALAN BATU GANTUNG 2,PULAU PINANG,"TIMUR LAUT, BARAT DAYA",2022-11-20,2022-11-25,highRisk,active,0,36,36,49,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second recurring cluster i...
7149,KLUSTER JALAN BERTAM KEPALA BATAS 2,PULAU PINANG,SEBERANG PERAI UTARA,2022-11-20,2022-11-30,highRisk,active,0,50,50,84,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the second recurring cluster i...
7150,KLUSTER JALAN PUNCAK ISKANDAR 2,PERAK,PERAK TENGAH,2022-11-22,2022-11-30,highRisk,active,0,72,72,72,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This is a second recurring cluster involving r...
7151,KLUSTER DUA JALAN PADANG GOLF 3,SELANGOR,HULU SELANGOR,2022-11-26,2022-11-25,highRisk,active,0,25,25,35,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This is a third recurring cluster involving re...
7152,KLUSTER JALAN PADANG GOLF 5,SELANGOR,HULU SELANGOR,2022-11-27,2022-11-26,highRisk,active,0,3,3,13,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the fifth repeated cluster inv...
7153,KLUSTER DAH BATU 19,KEDAH,KUBANG PASU,2022-11-27,2022-12-04,education,active,12,84,84,214,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves students from an educati...
7154,KLUSTER DAH TERABAK,KEDAH,KUBANG PASU,2022-12-01,2022-12-04,education,active,2,89,89,702,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...
7155,KLUSTER JALAN KAKI BUKIT,PERLIS,KANGAR,2022-12-02,2022-12-03,education,active,0,12,12,12,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...

In [6]:
df_1.groupby('category').size() #----To view the number of categories

category
community          1732
detentionCentre     162
education           975
highRisk            486
import               53
religious           181
workplace          3567
dtype: int64

# Distribution of Deaths according to each category

To view the Maximum number of Deaths in the original dataset

In [7]:
#maximum value in the 'deaths' column
maxValues = dataset[['deaths']].max()
maxValues
#To identify which row has the maximum number of deaths
maxDeaths = dataset.loc[dataset['deaths'] == int(maxValues)]
maxDeaths

,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
cluster,,,,,,,,,,,,,,,
KLUSTER RANTAU KENANGA,"6,8","MARAN, BERA, TEMERLOH, JERANTUT, KUANTAN, BENT...",2021-06-08,2021-07-27,community,ended,0,568,0,4772,0,37,531,NaN,NaN

To identify the cluster with maximum number of deaths according to each of the category in the dataset.

# Import category

In [8]:
#To classify the 'Import' category
dfImport = (df_1.loc[df_1['category'] == 'import'])
dfImport

#Maximum value of deaths in the Import category
maxImport = dfImport[['deaths']].max()
maxImport

#To identify which row has the maximum deaths in the Import category
maxImport1 = dfImport.loc[dfImport['deaths'] == int(maxImport)]
maxImport1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
5,KLUSTER PUI ITALI,SARAWAK,KUCHING,2020-04-05,2020-03-20,import,ended,0,65,0,629,0,5,60,NaN,NaN

# Religious category

In [9]:
#To classify the 'Religious' category
dfReligious = (df_1.loc[df_1['category'] == 'religious'])
dfReligious

#Maximum value of deaths in the Religious category
maxRel = dfReligious[['deaths']].max()
maxRel

#To identify which row has the maximum deaths in the Religious category
maxRel1 = dfReligious.loc[dfReligious['deaths'] == int(maxRel)]
maxRel1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
2,KLUSTER KEAGAMAAN (TABLIGH SRI PETALING),not stated,PELBAGAI,2020-03-13,2020-03-11,religious,ended,0,2022,0,42023,0,34,1988,NaN,NaN

# Work category

In [10]:
#To classify the 'Workplace' category
dfWork = (df_1.loc[df_1['category'] == 'workplace'])
dfWork
#maximum value of deaths in the Workplace category
maxWork = dfWork[['deaths']].max()
maxWork
#To identify which row has the maximum deaths in the Workplace category
maxWork1 = dfWork.loc[dfWork['deaths'] == int(maxWork)]
maxWork1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
2000,KLUSTER INDUSTRI BATU BERENDAM,"MELAKA,NEGERI SEMBILAN","MELAKA TENGAH, ALOR GAJAH, JASIN, TAMPIN",2021-05-22,2021-09-24,workplace,ended,0,2006,0,18055,0,22,1984,NaN,NaN

# High Risk category

In [11]:
#To classify the 'High Risk' category
dfRisk = (df_1.loc[df_1['category'] == 'highRisk'])
dfRisk
#maximum value of deaths in the High Risk category
maxRisk = dfRisk[['deaths']].max()
maxRisk
#To identify which row has the maximum deaths in the High Risk category
maxRisk1 = dfRisk.loc[dfRisk['deaths'] == int(maxRisk)]
maxRisk1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
2214,KLUSTER PERSIARAN RAJA CHULAN,"SELANGOR,W.P. KUALA LUMPUR","LEMBAH PANTAI, TITIWANGSA, CHERAS, KEPONG, SEPANG",2021-06-01,2021-07-27,highRisk,ended,0,177,0,236,0,25,152,NaN,NaN
3227,KLUSTER PAYA DATUK,MELAKA,"ALOR GAJAH, MELAKA TENGAH, JASIN",2021-07-17,2021-08-27,highRisk,ended,0,224,0,351,0,25,199,NaN,NaN

# Community category

In [12]:
#To classify the 'Community' category
dfCommunity = (df_1.loc[df_1['category'] == 'community'])
dfCommunity
#maximum value of deaths in the community category
maxCom = dfCommunity[['deaths']].max()
maxCom
#To identify which row has the maximum deaths in the community category
maxCom1 = dfCommunity.loc[dfCommunity['deaths'] == int(maxCom)]
maxCom1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
2382,KLUSTER RANTAU KENANGA,"PAHANG,PERAK","MARAN, BERA, TEMERLOH, JERANTUT, KUANTAN, BENT...",2021-06-08,2021-07-27,community,ended,0,568,0,4772,0,37,531,NaN,NaN

# Detention category

In [13]:
#To classify the 'Detention Centre' category
dfDetention = (df_1.loc[df_1['category'] == 'detentionCentre'])
dfDetention
#maximum value of deaths in the detention centre category
maxDet = dfDetention[['deaths']].max()
maxDet
#To identify which row has the maximum deaths in the detention centre category
maxDet1 = dfDetention.loc[dfDetention['deaths'] == int(maxDet)]
maxDet1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
475,KLUSTER TEMBOK,"KEDAH,PERAK","KOTA SETAR, BALING, KUALA MUDA, KUBANG PASU, P...",2020-12-26,2021-01-03,detentionCentre,ended,0,3169,0,12359,0,6,3163,NaN,NaN

# Education category

In [14]:
#To classify the 'Education' category
dfEducation = (df_1.loc[df_1['category'] == 'education'])
dfEducation
#maximum value of deaths in the education category
maxEdu = dfEducation[['deaths']].max()
maxEdu
#To identify which row has the maximum deaths in the education category
maxEdu1 = dfEducation.loc[dfEducation['deaths'] == int(maxEdu)]
maxEdu1

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
1601,KLUSTER KAMPUNG PANGKAL CHUIT,KELANTAN,"MACHANG, KUALA KRAI",2021-04-26,2021-05-11,education,ended,0,149,0,241,0,2,147,NaN,NaN
1701,KLUSTER LUBUK KATAK,PERAK,BATANG PADANG,2021-05-04,2021-05-24,education,ended,0,46,0,314,0,2,44,NaN,NaN
3325,KLUSTER KAMPUNG TENGAH DALAM,JOHOR,KLUANG,2021-07-21,2021-08-14,education,ended,0,135,0,224,0,2,133,NaN,NaN